.right_control_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    right: 0;
}

.top_rectangle {
    height: 10px;
    width: 70px;
    background-color: #555;
    margin-bottom: 8px;
}
.top_rectangle:hover {
    background-color: #0055ff;
    cursor: pointer;
}

.bottom_rectangle {
    height: 10px;
    width: 50px;
    background-color: #555;
}

.bottom_rectangle:hover {
    background-color: #0055ff;
    cursor: pointer;
}

.main_loading_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Spinner Rotation*/
.icon-spin {
    -webkit-animation: icon-spin 1s infinite linear;
    animation: icon-spin 1s infinite linear;
}
@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.main_loading_wrapper h3 {
    color: #0055ff;
}